* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/abstract-design-background-with-rainbow-colours_1048-14561.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.small-button {
    padding: 0.4em 1.5em; /* Adjust padding as desired */
    font-size: 0.8em; /* Adjust font size as desired */
}

.main{
    height: 60px;
    width:100%;
    color: black;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
li,ul{
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}


.no-decoration {
    text-decoration: none;
}
.home-sci a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color:white;
    background: linear-gradient(45deg, rgb(170, 121, 23), #3cf);
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
    margin: 20px 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}
.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #062321;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.home-sci a:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.home-img:hover {
    transform: scale(1);
}
.home-img {
    width: 410px;
    height: 410px;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-img::before,
.home-img::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.home-img::before {
    border-width: 220px 2px 0;
    border-bottom-color: yellowgreen;
}

.home-img::after {
    border-width: 0 205px 205px;
    border-top-color: yellowgreen;
}

.content-box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    justify-content: space-between;
}

.project-description {
    padding: 20px; 
}
.project-description h2{
    font-size:24px;
    margin-bottom: 10px;
}

.project-description p {
    font-size: 15px;
    margin-bottom: 20px;
}
.resume {
    margin-top:100px;
}
form {
    flex:1; 
}

form label {
    color: #fff;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555; 
    border-radius: 5px;
    background: #444; 
    color: #fff; 
}
form textarea {
    height: 100px;
}
form button[type="submit"],.project-description a {
    background: linear-gradient(45deg,#3cf, rgb(170,121,23));
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff; 
    text-decoration: none;
}

form button[type="submit"]:hover{
    background-color: #444;
    text-decoration: none; 
}

button:hover{
    background-color: orange;
    color: #f5f5f6;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

* {
	box-sizing: border-box;
	font-family: "Tahoma", sans-serif;
	line-height: 1;
}

body{
    background-image: url('https://img.freepik.com/free-photo/abstract-background-with-rainbow-coloured-flowing-waves_1048-16932.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1715040000&semt=ais');
    background-size: cover; /* This will make the background image cover the entire element */
  
  
  }
body {
	max-width: 100%;
	margin: 0;
	padding: 0;
	background-color:black;


}
 